{% extends "index_base.html" %}
{% load static%}
{% block title %} Email Subscription {% endblock %}
{% block description %}  {% endblock %}
{% block keywords %}  {% endblock %}

{% block content %}


<div class="row" style="min-height:50vh; padding:150px 10px; text-align:center; background:#fff; font-family: robotolight;">
    <div class="container" style="">
    <img alt="dabi tv image" class="lozad" data-src="{% static 'images/email.png' %}" style="border-radius: 100%; padding: 20px;">
<h2>Thank you for subscribing to our Email Newsletters</h2>
<p>We hope you enjoy our very informative Newsletters</p>

</div>
</div>



{% endblock %}
