{% extends "index_base.html" %}
{% load i18n %}
{% load static%}
{% block title %}Nomination Categories{% endblock %}
{% block description %}Nomination Categories{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}
<div id="mainparticlediv" class="row" style="height:180px; background:linear-gradient(rgba(15, 9, 1, 0.97), rgba(4, 3, 0, 0.97)), url({% static 'slider/images/slider4.jpeg' %}); background-repeat: no-repeat; background-size: cover; background-position: center center;"></div>
<script src="{% static 'js/particles.min.js' %}"></script>
<script>
    particlesJS.load("mainparticlediv", "{% static 'js/particlesjs-config_new.json' %}", function() { });
</script>

<div class="row" id="about_summary">
    <div class="col-12">
        <div class="container" style="padding:20px;">
            <br>
            <h2 style="font-family: juliussansregular; text-align:center;">NOMINATION CATEGORIES</h2>
            <p style="max-width:900px; margin:0 auto; text-align:center;">Humanitarian Awards Global exists to identify, honour and celebrate a cross-section of change makers, volunteer leaders, donors, organizations, philanthropist, corporations, social impact companies and professionals in advancing the important work of charities each day. We honor and celebrate the incredible contributions of time, resources, leadership and financial support made by organizations and individuals who inspire generosity and giving.</p>
            <br>
            <div id="topfooter" class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                    <!-- <h5>Edit Existing Nomination</h5> 

                    <form id="nominationreferenceform" method="POST" action="{% url 'nomination_reference' %}">
                        {% csrf_token %}
                        <div class="input-group" style="max-width: 550px; margin: 0 auto">
                            <input type="text" value="" name="referencenumber" id="referencenumber" placeholder="Enter your Reference Number" class="form-control input-md" required
                            style="border-radius:30px 0 0 30px; border-color:#a58047;">
                            <div class="input-group-append">
                            <button type="submit" name="" id="" class="btn btn-secondary btn-md input-group-btn"
                                style="border-radius:0 30px 30px 0; background:#0d0d0d; border-color:#a58047;"><i class="fa fa-pencil"></i> Enter</button>
                            </div>
                        </div>
                    </form> -->

                    <div class="row" style="max-width:550px; margin:0 auto;">
                        <div class="col-12">
                            {% if messages %}
                            {% for message in messages %}
        
                            {% if message.tags == 'success' %}
                            <div class="alert alert-success" style="margin-bottom:0px;">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span
                                        aria-hidden="true">&times;</span> </button>
                                {{ message }}
                            </div>
                            {% elif message.tags == 'info' %}
                            <div class="alert alert-info" style="margin-bottom:0px;">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span
                                        aria-hidden="true">&times;</span> </button>
                                {{ message }}
                            </div>
                            {% elif message.tags == 'error' %}
                            <div class="alert alert-danger" style="margin-bottom:0px;">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span
                                        aria-hidden="true">&times;</span> </button>
                                {{ message }}
                            </div>
                            {% elif message.tags == 'warning' %}
                            <div class="alert alert-warning" style="margin-bottom:0px;">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span
                                        aria-hidden="true">&times;</span> </button>
                                {{ message }}
                            </div>
                            {% endif %}
        
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div> 
                    
                    
                </div>
            </div>

            {% if awardscheme.nominationopen %}
            <!-- <p style="text-align: center;">
                <br>
                or
            </p>
            <br> -->
            <h4>List of Nomination Categories</h4>
            <div class="table-responsive" style="overflow-x: hidden">
                <table id="nominationcategoriestable" class="table table-sm table-dark table-striped table-hover table-bordered ">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Category</th>
                        <th><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in nominationcategories %}
                    <tr>
                        <td style="vertical-align: middle">{{ forloop.counter0|add:nominationcategories.start_index }}</td>
                        <td style="vertical-align: middle; ">
                            <div>
                                <h5 style="vertical-align: top; margin:0;"><!--<img src="{% static 'images/logo.png' %}" style="height:30px; vertical-align: middle " />--> {{category.name}} <small class="small" style="font-size: 70%;"><a href="{% url 'nomination' %}?catid={{category.id}}" style="text-decoration: none;">Know More</a></small></h5> 
                                <p style="vertical-align: top;"class="small">{{category.description_short|truncatechars:'400'}}</p>
                            </div>                        
                        </td>
                        <td style="vertical-align: middle; white-space: nowrap; width:1px; text-align:right;"><a class="btn btn-sm btn-warning" href="{% url 'nomination_form' %}?category={{category.id}}" style="padding:0 10px; margin:5px 10px; color:#fff; background:linear-gradient(#d7bc79, #79572f);"> Nominate <i class="fa fa-chevron-right"></i></a></td>
                    </tr>
                    {% endfor %}                
                </tbody>
                </table>
            </div>
            <style>
                #nominationcategoriestable {border-radius: 8px;  }
                #nominationcategoriestable th {border: none;}
                #nominationcategoriestable tr:last-child td {border: none; }
            </style>
            
            <div class="row">
                <div class="col-12">
                    <nav class="pagntndiv" aria-label="Page Navigation">                            
                        <ul class="pagination pagination-sm pagination-justify-center" style="margin:0;">
                            <li class="page-item"><a class="page-link" href="" onclick="this.href='?page=1'"
                                    aria-label="First"> First </a></li>
                            {% if nominationcategories.has_previous %}
                            <li class="page-item"><a class="page-link" href="" onclick="this.href='?page={{ nominationcategories.previous_page_number }}'"
                                    aria-label=""><span aria-hidden="true">&laquo;</span></a></li>
                            {% endif %}

                            {% if nominationcategories.number|add:'-4' > 1 %}
                                <li class="page-item"><a class="page-link" href="?page={{ nominationcategories.number|add:'-5' }}">&hellip;</a></li>
                            {% endif %}

                            {% for i in nominationcategories.paginator.page_range %}
                                {% if nominationcategories.number == i %}
                                    <li class="page-item active"><a class="page-link" href="" onclick="this.href='?page={{i}}'">{{i}}</a></li>
                                {% elif i > nominationcategories.number|add:'-5' and i < nominationcategories.number|add:5 %}
                                    <li class="page-item"><a class="page-link" href="" onclick="this.href='?page={{i}}'">{{i}}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if nominationcategories.paginator.num_pages > nominationcategories.number|add:4 %}
                                <li class="page-item"><a class="page-link" href="?page={{ nominationcategories.number|add:'5' }}">&hellip;</a></li>
                            {% endif %}

                            {% if nominationcategories.has_next %}
                            <li class="page-item"><a class="page-link" href="" onclick="this.href='?page={{ nominationcategories.next_page_number }}'"
                                    aria-label=""><span aria-hidden="true">&raquo;</span></a></li>
                            {% endif %}
                            <li class="page-item"><a class="page-link" href="" onclick="this.href='?page={{ nominationcategories.paginator.num_pages }}'"
                                        aria-label="Last"> Last </a></li>
                        </ul>
                        
                    </nav>
                </div>
            </div>  
            {% else %}
            <div class="container" style="padding:20px;">
                <br>
                <h2 style="font-family: juliussansregular; text-align:center;">Nominations Closed</h2>
                <p style="max-width:900px; margin:0 auto; text-align:center;">There are currently no nominations open, kindly contact the administrators for more Information via <a href="mailto:info@humanitarianawardsglobal.com" target="_blank">info@humanitarianawardsglobal.com</a></p>
                <br>
            </div>
            {% endif %}

        </div>
    </div>    
</div>
{% endblock %}
