{% extends "index_base.html" %}
{% load i18n %}
{% load static%}
{% block title %}Sponsorships{% endblock %}
{% block description %}Sponsorships of HAG{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}
<div id="mainparticlediv" class="row" style="height:180px; background:linear-gradient(rgba(15, 9, 1, 0.97), rgba(4, 3, 0, 0.97)), url({% static 'slider/images/slider4.jpeg' %}); background-repeat: no-repeat; background-size: cover; background-position: center center;"></div>
<script src="{% static 'js/particles.min.js' %}"></script>
<script>
    particlesJS.load("mainparticlediv", "{% static 'js/particlesjs-config_new.json' %}", function() { });
</script>

<div class="row" id="about_summary">
    <div class="col-12">
        
        <div class="container" style="padding:20px; ">
            <h3 style="font-family: juliussansregular">HUMANITARIAN AWARDS GLOBAL SPONSORSHIPS</h3>
            <br>
            <p>The awards offer extensive branding and sponsorship opportunities through online and print media advertising in our related publications, and of course at the awards ceremony itself.</p>
            <p>To discuss our sponsorship opportunities, please contact info@humanitarianawardsglobal.com or humanitarianawardsgh@gmail.com or call +233244656402 or +233249174715</p>
            <br><br>
            <h4>DIAMOND PACKAGE (Title Sponsorship) Ghs 50,000</h4>
            <ul>
                <li>Branding of cocktail and networking section.</li>
                <li>Presentation of awards by a representative from your company.</li>
                <li>Speaking rights for 5 minutes during the event, which brings together over 300 guests.</li>
                <li>Branding of the venue.</li>
                <li>One award naming right.</li>
                <li>Full-page advertisement/profile in the awards ceremony brochure.</li>
                <li>Mention of principal sponsor in all media relations activities.</li>
                <li>Mention of principal sponsorship during the launch of finalists.</li>
                <li>One complimentary table for 10 people at the award ceremony.</li>
                <li>One complimentary place at the high table at the ceremony.</li>
                <li>Access to event photography and special interview segment.</li>
                <li>Sponsor status on the website, electronic flyers, and nomination forms.</li>
                <li>Company&#39;s commemorative brochures and literature on each table.</li>
                <li>Sponsorship award and certificate.</li>
                <li>Opportunity to network with senior industry figures, rising stars, and influential guests.</li>
            </ul>
            <br>
            <h4>PLATINUM PACKAGE: Ghs 30,000</h4>
            <ul>
                <li>Branding of cocktail and networking section.</li>
                <li>Branding of the venue.</li>
                <li>Full-page advertisement/profile in the awards ceremony brochure.</li>
                <li>Mention of sponsor in all media relations activities.</li>
                <li>Mention of sponsorship during the announcement of finalists.</li>
                <li>Access to event photography and special interview segment.</li>
                <li>Sponsor status on the website, electronic flyers, and nomination forms.</li>
                <li>Company&#39;s commemorative brochures and literature on each table.</li>
                <li>Sponsorship award and certificate.</li>
                <li>Opportunity to network with senior industry figures, rising stars, and influential guests.</li>
            </ul>
            <br>
            <h4>GOLD PACKAGE: Ghs 20,000</h4>
            <ul>
                <li>Branding of cocktail and networking section.</li>
                <li>Branding of the venue.</li>
                <li>Full-page advertisement/profile in the awards ceremony brochure.</li>
                <li>Mention of sponsor in all media relations activities.</li>
                <li>Mention of sponsorship during the announcement of finalists.</li>
                <li>Access to event photography and special interview segment.</li>
                <li>Sponsor status on the website, electronic flyers, and nomination forms.</li>
                <li>Sponsorship award and certificate.</li>
                <li>Opportunity to network with senior industry figures, rising stars, and influential guests.</li>
            </ul>
            <br>
            <h4>SILVER PACKAGE. Ghs 10,000</h4>
            <ul>
                <li>Branding of cocktail and networking section.</li>
                <li>Branding of the venue.</li>
                <li>Full-page advertisement/profile in the awards ceremony brochure.</li>
                <li>Mention of sponsor in all media relations activities.</li>
                <li>Mention of sponsorship during the announcement of finalists.</li>
                <li>Access to event photography and special interview segment.</li>
                <li>Sponsor status on the website, electronic flyers, and nomination forms.</li>
                <li>Sponsorship award and certificate.</li>
            </ul>
            <br>
            <h4>BRONZE PACKAGE: Ghs 5,000</h4>
            <ul>
                <li>Branding of cocktail and networking section.</li>
                <li>Branding of the venue.</li>
                <li>Full-page advertisement/profile in the awards ceremony brochure.</li>
                <li>Mention of sponsor in all media relations activities.</li>
                <li>Mention of sponsorship during the announcement of finalists.</li>
            </ul>
            <br><br>


            <h4>Category Sponsorship</h4>
            <ul>
                <li>Extensive corporate branding prior, at and after the Awards Ceremony via online and print promotion (credits on/in website, email blasts, publications)</li>
                <li>Branding on category of sponsor’s choice</li>
                <li>Sponsor logo in awards programme</li>
                <li>Presentation of award for sponsored category</li>
                <li>Sponsor logo in loop on AV screen and during sponsored category</li>
                <li>Sponsor credits mentioned on all e-platforms</li>
            </ul>

            <br><br>
            <h3>To sponsor any of the packages, contact us on or <a href="tel:233244656402">233244656402</a> or <a href="mailto:info@humanitarianawardsglobal.com">info@humanitarianawardsglobal.com</a></h3>

            
            
        </div>
    </div>
</div>
{% endblock %}
