{% extends "index_base.html" %}
{% load i18n %}
{% load static%}
{% block title %}Register{% endblock %}
{% block description %}Register for New Account{% endblock %}
{% block keywords %} {% endblock %}

{% block content %}
<div class="pageheader row">
    <div class="container">
        <h2 style="padding:10px;"> THANK YOU </h2>
    </div>
</div>

<div style="padding: 5%; background: #f5f9fd; text-align: center;">
<img src="/static/images/email.png" alt="message" style="border-radius: 100%; padding: 20px;">
<h3>Thank you for registering </h3>
<p>We have sent you a confirmation email, please check your email to complete the process.</p>

</div>



{% endblock %}
