{% extends "index_base.html" %}
{% load i18n %}
{% load static%}
{% block title %}Register{% endblock %}
{% block description %}Register for New Account{% endblock %}
{% block keywords %}  {% endblock %}

{% block content %}
<div class="pageheader row">
    <div class="container">
        <h2 style="padding:10px;"> REGISTER </h2>
    </div>
</div>

<div class="row" style="background: #f5f9fd;">
<div class="container" style="max-width: 350px; padding:10px 0; margin-bottom:40px;">
    <div class="row">
        <div id="loginbox" style="margin-top:20px;" class="mainbox col-md-12  col-sm-12 ">                    
            <div class="carddiv" style="background:#fff; ">                    
                    <div style="padding:0px; border-radius:0px;" class="card-body">
                    
                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                                          
                        <form id="form" class="simple-inline" role="form" method="post" action="{% url 'register' %}">
                            {% csrf_token %}
                            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" value="" />
                                
                                {% if messages %}
                                {% for message in messages %}
                                <!-- <div class="row"> -->
                                    <div class="col-12">
                                        {% if message.tags == 'success' %}
                                            <div class="alert alert-success" style="margin-bottom:5px;">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                                {{ message }}
                                            </div>
                                        {% elif message.tags == 'info' %}
                                            <div class="alert alert-info" style="margin-bottom:5px;">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                                {{ message }}
                                            </div>
                                        {% elif message.tags == 'error' %}
                                            <div class="alert alert-danger" style="margin-bottom:5px;">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                                {{ message }}
                                            </div>
                                        {% elif message.tags == 'warning' %}
                                            <div class="alert alert-warning" style="margin-bottom:5px;">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                                {{ message }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <p></p>
                                <!-- </div> -->
                                {% endfor %}
                                {% endif %}

                                
                                <div class="form-group col-12">
                                <div  class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id=""><i class="fa fa-user"></i></span>
                                    </div>
                                    <input id="id_fullname" type="text" class="form-control" name="fullname" value="{{ form.fullname.value|default_if_none:''}}" placeholder="FullName" required >                                      
                                </div>
                                </div>                                
                                
                                <div class="form-group col-12">
                                <div  class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id=""><i class="fa fa-envelope"></i></span>
                                    </div>
                                    <input id="id_emailaddress" type="text" class="form-control" name="emailaddress" value="{{ form.emailaddress.value|default_if_none:''}}" placeholder="Email Address" required >                                      
                                </div>
                                </div>
                                 
                                <div class="form-group col-sm-12">
                                    <div  class="form-group">
                                        <button type="submit" id="btn-login" class="btn btn-success btn-block">Register Account  </button>
                                    </div>
                                </div>
    
    
                            <div class="form-group col-sm-12">   
                                <div style="border-top: 1px solid #eee; padding-top:2px; font-size:85%; text-align:center;"><a href="{% url 'login' %}">Already have an Account? Login</a></div>                         
                                
                            </div> 
    
    
    
                            </form> 

   
                        
                        </div>                     

            </div> 

</div>
</div>

</div>

</div>










 
 {% endblock %}
