{% extends "index_base.html" %}
{% load i18n %}
{% load static%}
{% block title %}Thank You{% endblock %}
{% block description %}Thank You{% endblock %}
{% block keywords %} {% endblock %}


{% block content %}
<div class="pageheader row">
    <div class="container">
        <h2 style="padding:10px;"> PASSWORD RESET </h2>
    </div>
</div>

<div style="padding: 5%; background:#f5f9fd;">
    <img src="/static/images/email.png" alt="message" style="border-radius: 100%; padding: 20px;">
    <h3>You are almost Done!!!</h3>
    <p>We have just sent you a password reset link</p>
    <p>Please <b>check your inbox</b> to find the e-mail and <b>complete your password reset.</b>.</p>
    <p>Please <b>check your spam folder</b> if you cannot find it in your inbox. </p>
            
    
    </div>










 
 {% endblock %}
