{% extends "index_base.html" %}
{% load i18n %}
{% load static%}
{% block title %}Password Reset{% endblock %}

{% block menu %}
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="/features/">Features</a></li>
    <li><a href="/pricing/">Pricing</a></li>
    <li><a href="/aboutus/">About Us</a></li>
    <li><a href="https://churchaffairs.wordpress.com/" target="new">Blog</a></li>
    {% if user.is_authenticated and churchname %} 

    <li><a href="/churchprofile/">Church Profile</a></li> 
      <li><a href="/logout/">Logout</a></li>                               
    {% else %}
        <li><a href="/registerbranch/">Register</a></li>
        <li><a href="/login/">Login</a></li>
    {% endif %}
{% endblock %}


{% block content %}

<div class="pageheader row">

</div>

<div style="padding: 5%;" align="center">
<img src="/static/images/email.png" alt="message" style="border-radius: 100%; padding: 20px;">
<h3>You are almost Done!!!</h3>
<p>We have just sent you a password reset link</p>
<p>Please <b>check your inbox</b> to find the e-mail and <b>complete your password reset.</b>.</p>
<p>Please <b>check your spam folder</b> if you cannot find it in your inbox. </p>
		

</div>



{% endblock %}
