{% extends "error_base.html" %}
{% block title %}Page Error{% endblock %}
{% block description %}Page Error{% endblock %}
{% block keywords %} {% endblock %}

{% block content %}
<div class="row" >
<div class="container" align="center" style="text-align:center; padding:20px;">
<h1 style="font-family:quicksandbold; font-size:150px;">400</h1>
<h2>Aargh!! What combinations are you cooking up.</h2>
<p>Page cannot be found</p>
<br>
  <a href="{% url 'index' %}" style="color:#fff; padding:10px 30px; border:1px solid #fff; border-radius:40px;; ">Click Back to Safe Grounds</a>

</div>
</div>



{% endblock %}

